@font-face {
    font-family: 'RotondaC';
    font-style: normal;
    font-weight: 400;
    src: local('RotondaC'), url('../fonts/rotondac.woff') format('woff');
}

@font-face {
    font-family: 'RotondaC';
    font-style: normal;
    font-weight: 700;
    src: local('RotondaC Bold'), url('../fonts/rotondac-bold.woff') format('woff');
}